<div *ngIf="viewMode">
    <div *ngIf="currentListing.id">
      <h4>Listings</h4>
      <div>
        <label><strong>Address:</strong></label> {{ currentListing.address }}
      </div>
      <div>
        <label><strong>University:</strong></label>
        {{ currentListing.university }}
      </div>
      <div>
        <label><strong>Semester:</strong></label>
        {{ currentListing.semester }}
      </div>
      <div>
        <label><strong>Rent:</strong></label>
        {{ currentListing.rent }}
      </div>
      <div>
        <label><strong>Views:</strong></label>
        {{ currentListing.views }}
      </div>
      <div>
        <label><strong>Picture:</strong></label>
        <img src="http://localhost:8080/images/{{currentListing.image}}" style="height:100px;width:100px"/>
      </div>

      <div class="col-md-6">
        <h4>View all Comments</h4>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let comment of comments; let i = index"      
          >
            {{ comment.comment }}
          </li>
        </ul>
    
      </div>
  
    </div>
  
    <!-- <div class="col-md-6">
      <h4>View all Comments</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let comment of comments; let i = index"      
        >
          {{ comment.comment }}
        </li>
      </ul>
  
    </div> -->

    <div *ngIf="!currentListing">
      <br />
      <p>Please click on a Listing...</p>
    </div>
  </div>
  
  
  
