<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by university"
        [(ngModel)]="university"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="searchUniversity()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>View all Listings</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let listing of listings; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveListing(listing, i)"
      >
        {{ listing.address }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllListings()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <app-listing-details
      [viewMode]="true"
      [currentListing]="currentListing"
    ></app-listing-details>
  </div>
</div>
