.submit-form {
    max-width: 400px;
    margin: auto;
  }
  .card{
    background-color: #D3D3D3;
}
.card-title{
    color: #49A078;
}
.card-text{
    color: #CACAAA;
}
.badge{
    background-color: #EBF5EE;
}
.btn{
    background-color:#81726A;
}
.filter-switch label {
    cursor: pointer;
  }
  .filter-switch-item input:checked + label {
    color: inherit;
  }
  .filter-switch-item input:not(:checked) + label {
    --bg-opacity: 0;
    box-shadow: none;
  }
  
  