<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
      <div class="card">
        <h5 class="text-center mb-4">Create New Listing</h5>
        <form class="form-card">
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">University<span class="text-danger"> *</span></label>
              <input class="form-control" id="university" required [(ngModel)]="listing.university" name="university" />
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Housing Type<span class="text-danger"> *</span></label>
              <select class="form-control" id="type" required [(ngModel)]="listing.type" name="type">
                <option>Apartment</option>
                <option>Single Family House</option>
                <option>Condo</option>
                <option>Townhouse</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Semester<span class="text-danger"> *</span></label>
              <select class="form-control" id="semester" required [(ngModel)]="listing.semester" name="semester">
                <option>Spring</option>
                <option>Summer</option>
                <option>Fall</option>
              </select>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Rent<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" id="rent" required [(ngModel)]="listing.rent" name="rent" />
            </div>
          </div>

          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-12 flex-column d-flex">
              <label class="form-control-label px-3">Address<span class="text-danger"> *</span></label>
              <input class="form-control" id="address" required 
                (change)="validateAddress($event)" name="address" />
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-12 flex-column d-flex">
              <label class="form-control-label px-3">Validated Address<span class="text-danger"> *</span></label>
              <input class="form-control" id="address" required [(ngModel)]="listing.address" name="address"
                [readonly]="true" />
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Bedrooms<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" id="bedrooms" required [(ngModel)]="listing.bedrooms"
                name="bedrooms" />
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Bathrooms<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" id="bathrooms" required [(ngModel)]="listing.bathrooms"
                name="bathrooms" />
            </div>
          </div>

          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Laundry</label>
              <select class="form-control" id="wifi" required [(ngModel)]="listing.laundry" name="wifi">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Gym</label> <select class="form-control" id="gym" required
                [(ngModel)]="listing.gym" name="gym">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>

          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Parking</label>
              <select class="form-control" id="parking" required [(ngModel)]="listing.parking" name="parking">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Pool</label>
              <select class="form-control" id="pool" required [(ngModel)]="listing.pool" name="pool">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>

          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Phone<span class="text-danger"> *</span></label>
              <input class="form-control" id="phoneNumber" required [(ngModel)]="listing.phoneNumber"
                name="phoneNumber" />
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label>
              <input class="form-control" id="email" required [(ngModel)]="listing.email" name="email" />
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Prefered Gender<span class="text-danger"> *</span></label>
              <select class="form-control" id="gender" required [(ngModel)]="listing.gender" name="gender">
                <option>Male</option>
                <option>Female</option>
                <option>Open to anyone</option>
              </select>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Personal Note</label> <input class="form-control" id="personalNote"
                required [(ngModel)]="listing.personalNote" name="personalNote" />
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Sublease?</label>
              <select class="form-control" id="sublease" required [(ngModel)]="listing.sublease" name="sublease">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Wifi</label>
              <select class="form-control" id="wifi" required [(ngModel)]="listing.wifi" name="wifi">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>

          </div>


          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Image 1</label>
              <input type="file" (change)="upload($event)" />
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Image 2</label>
              <input type="file" (change)="upload2($event)" />
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3">Image 3</label>
              <input type="file" (change)="upload3($event)" />
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
            </div>
          </div>

          <div class="row justify-content-end">
            <div class="form-group"> <button (click)="saveListing()" class="btn btn-success">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>