h1{
    font-family: 'Roboto Mono', monospace;
    color: #49A078;
    background-color: #010400;
}
h3{
    font-family: 'Roboto Mono', monospace;
    font-style: oblique;
    color: #CACAAA;
    background-color: #010400;
}
#slider .carousel-item {
    height: 500px;
  }
  
  .carousel-caption {
    font-size: 18px;
  }
#commentTitle{
    padding-top: 3%;
}
#created{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  font-size: small;
}
#comment{
  border-color: #010400;
  border-bottom: #010400;
  border-style: solid;
}
#username{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: medium;
}
.card{
  border-style: none;
}
  

  .carousel-item>img {
    width: 100%
  }