h1{
    font-family: 'Roboto Mono', monospace;
    color: #49A078;
    background-color: #010400;
}
h3{
    font-family: 'Roboto Mono', monospace;
    font-style: oblique;
    color: #CACAAA;
    background-color: #010400;
}
#slider .carousel-item {
    height: 500px;
  }
  
  .carousel-caption {
    font-size: 18px;
  }
  
  .carousel-item>img {
    width: 100%
  }