h1{
   font-family: 'Raleway', sans-serif;
    color: #49A078;
}
h3{
    font-family: 'Roboto Mono', monospace;
    font-style: oblique;
    color: #CACAAA;
}
#slider .carousel-item {
    height: 500px;
  }
  
  .carousel-caption {
    font-size: 18px;
  }
#commentTitle{
    padding-top: 3%;
}
#created{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  font-size: small;
}
#comment{
  border-color: #010400;
  border-bottom: #010400;
  border-style: solid;
}
#username{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: medium;
}
.card{
  border-style: none;
}
  
#personalButtons{
  position: right;
}
#card{
    
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px;

}

  .carousel-item>img {
    width: 100%
  }

  .collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: #333;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
  }
  
  /* Vertical line */
  .collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #333;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
  }
  
  .collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
  }
  
  .collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
  }
  